<div>Please enter the set in the below input box:-</div>

<input type="text" [(ngModel)]="cardSet" />
<button (click)="sortDeck()">Sort</button>

<div>Sample Input:- 3C,JS,2D,PT,10H,KH,8S,4T,AC,4H,RT</div>
<div>*Note:- Specials Cards are represented by Joker</div>


<div class="main-display-container">
  <div class="card-Containers">
    <ng-container *ngFor="let card of unsortedDeck">
      <app-card style='flex-basis: 25%;' [firstChar]="card.firstChar" [lastChar]="card.lastChar" [wholeChar]="card.wholeChar"  [type]="card.type"></app-card>
    </ng-container>
  </div>
  <div class="card-Containers">
    <ng-container *ngFor="let card of sortedDeck">
      <app-card style='flex-basis: 25%;' [firstChar]="card.firstChar" [lastChar]="card.lastChar" [wholeChar]="card.wholeChar"  [type]="card.type"></app-card>
    </ng-container>
  </div>
</div>